<!DOCTYPE html>
<html>
<head>
    <title>Добавление пользователя</title>
    <meta charset="utf-8" />
</head>
<body>
<h1>Добавление пользователя</h1>
<form action="postUser" method="POST">
    <label>Логин</label>
    <input name="login" /><br><br>
    <label>Пароль</label>
    <input name="password" type="password" min="1" max="110" /><br><br>
    <input type="submit" value="Добавить" />
</form>
<a href="/users">К списку пользователей</a>
</body>
<html>